@use '../../../styles/global' as *;


.sendComment{
    @include flex($dir:column,$gap:1em);

    &__text-input{
        border: 1px solid black;
        padding: .7em .5em;
        font-size: 1rem;
        border-radius: 1em;
        border-color: rgb(177, 174, 172);
    }
    &__send-btn{
        align-self: flex-end;
        color: #f1f4f7;
        background-color: #1891ce;
        border: 1px solid #495a69;
        padding: .3em;
        border-radius: .25em;
        font-size: 1.1rem;
       
    }
}