@use '../../../styles/global' as *;


.form{
    font-size: 1.1rem;

    @include flex($dir:column,$gap:.5em);
    
    &__item-input{

        &--text{
            border: 1px solid rgba(151, 151, 145, .8);
            border-radius: 1em;
            padding: .6em .6em;
            text-align: center;
        }
        &--text::placeholder{
            font-size: 1rem;
            text-align: center;
        }
    }
}
