@use "../../../styles/global" as *;

.snackbar-container {
    position: fixed;
    bottom: calc(1vw + 1.2em);
    right: calc(1vw + 1em);
    padding: 1em 1.5em;
    font-size: 1.5rem;
    border-radius: 10px;
    @include flex;
    // transition: opacity .4s ease-in-out, transform .5s linear;

    &--positive {
        color: #001F3F;
        background-color: $color-positive;
    }

    &--negative {
        color: #FFFFFF;
        background-color: $color-negative;
    }
  
    &--enter{
        transition: opacity .8s ease-in-out, transform .5s linear;
        opacity: .8;
    }
    &--enterActive{
        transition: transform .5s linear;
        transform: translateY(0);
        opacity: 1;
    }
    &--exit{
        opacity: 1;
    }
    
    &--exitActive {
        transform: translateY(150%);
        opacity: 0;
    }

}